APP_URL=https://eternity-cloud.org
POSTGRES_PASSWORD=changeme
DATABASE_URL=changeme
REDIS_URL=changeme
PRIVATE_CLOUD_ROOT=changeme
BACKUP_ROOT=changeme
BACKUP_CRON=changeme
NODE_ENV=changeme
TRUST_PROXY=changeme
REPO_SSH=changeme
REPO_DIR=changeme
SESSION_SECRET=changeme
TOTP_ENROLLMENT_OPEN=changeme
MAX_UPLOAD_BYTES=104857600
